@import "_colors.scss";

html {
  body {
    .main {
      .main-container {
        height: 90%;

        .button-container {
          margin: 2%;

          .button {
            background-color: $buttonGeneral;
            padding: 4%;
            border: 1px solid black;
            border-radius: 2%;
            text-align: center;
          }
        }

        .button:hover {
          cursor: pointer;
        }
      }
    }
  }
}
