@import "_colors.scss";

@media screen and (max-width: 1280px) {
  body {
    overflow: scroll;
  }
}
@media screen and (max-height: 650px) {
  body {
    overflow: scroll;
  }
}

html {
  body {
    .main {
      .main-container {
        height: 90%;

        .error {
          color: $error;
        }

        .button-container {
          margin: 2%;

          .button {
            background-color: $buttonGeneral;
            padding: 4%;
            border: 1px solid black;
            border-radius: 2%;
            text-align: center;
          }
        }

        .button:hover {
          cursor: pointer;
        }
      }
    }
  }
}
