<div class="main-container">
  <div class="game-start-container">
    <div class="error" *ngIf="error">
      <p>
        error - {{error}}
      </p>
    </div>
    <div class="info">
      <p class="text" id="range" *ngIf="texts.range">
        Think of a number between <span>{{range.min}}</span> and <span>{{range.max}}</span>
      </p>
      <p class="text" id="guess" *ngIf="texts.guess">
        I guess your number is <span>{{guessedNumber}}</span>
      </p>
      <p class="text" id="finish" *ngIf="texts.finish">
        I've gussed your number in <span>{{tries}}</span> tries
      </p>
    </div>
    <div class="buttons">
      <div class="button-container" *ngIf="texts.range">
        <div class="button margin-top-button" (click)="pickNumber()">I thought of a number</div>
      </div>
      <div class="button-container" *ngIf="texts.guess">
        <div class="button lower" (click)="lowerNumber()">My number is lower</div>
      </div>
      <div class="button-container" *ngIf="texts.guess">
        <div class="button bigger" (click)="biggerNumber()">My number is bigger</div>
      </div>
      <div class="button-container" *ngIf="texts.guess">
        <div class="button finish" id="finish-game" (click)="finishGame()">That's my number!</div>
      </div>
      <div class="button-container" *ngIf="texts.finish">
        <div class="button play-again margin-top-button" (click)="playAgain()">Play again</div>
      </div>
    </div>
  </div>
</div>
