@import "../../../style/base/_colors.scss";

.game-start-container {
  width: 100%;
  text-align: center;
  height: 90%;

  .info {
    margin-bottom: 15%;
  }

  .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .button-container {
      flex: 0 1 30%;
    }
  }

  #finish-game {
    background-color: $buttonThatsMyNumber;
  }
}
